.albums-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}


.album-container {
  height: 300px;
  width: 200px;
  display: flex;
  flex-direction: column;
  border: solid 2px black;
  align-items: center;
}

.album-cover {
  width: 90%;
  margin-top: 10px
}

.album-title {
  margin-top: 10px
}