.albums-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 70%;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 10px
}


.album-container {
  height: 300px;
  width: 200px;
  display: flex;
  flex-direction: column;
  border: solid 2px black;
  align-items: center;
  margin: 10px 5px;
  text-decoration: none;
  box-shadow: 0 0 17px 2px rgba(0, 0, 0, 0.2);
}

.album-cover {
  width: 90%;
  margin-top: 10px
}

.aText {
  color: gray
}

.album-title {
  margin-top: 10px
}
