.header-wrapper {
  position: fixed;
  width: 100vw
}

.header-nav {
  display: flex;
  justify-content: space-evenly;
  height: 100px;
  background-color: #1a1a1a;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  margin: auto
}

.cart {
  padding: 10px;
  font-size: 1rem;
  background-color: #ff6763;
  border-color: #ff6763;
  border-radius: 10px
}

.sign-out {
  padding: 5px;
  font-size: 1rem;
  background-color: #a21d18;
  border-radius: 10px
}

/*   color: #ff6763; */