.home-wrapper {
  display: flex;
  flex-direction: column;
}

.site-title {
  font-size: 3rem;
  padding: .8rem;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: #ff6763;
}

.home-search {
  margin: 0 auto;
  width: 50%;
}

