.home-wrapper {
  display: flex;
  flex-direction: column;
}

.site-title {
  font-size: 3rem;
  font-weight: 700;
  padding: .8rem;
  margin: 0 auto;
  padding: 4rem 0;
  color: #ff6763;
  text-shadow: .2rem .2rem .1rem #777;
}

.home-search {
  margin: 0 auto;
  width: 50%;
}

@media (max-width: 520px) {
  .site-title {
    font-size: 2rem;
  }
}