.add-to-cart-button {
  margin: 10px auto;
  width: 150px;
  height: 40px;
  background-color: #ff6763;
  border-color: #ff6763;
  color: white;
  border-radius: 8px;
  font-size: 1.1rem;
}

@media (max-width: 460px) {
  .add-to-cart-button {
    font-size: 14px;
    width: 100px;
    height: 30px;
  }
}