.shopping-cart-container {
  width: 30%;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.shopping-cart-wrapper {
  display:flex;
  height: 200px;
  border: 1px solid black;
  background-color: black;
  color: white;
  margin:0px;
  box-shadow: 0 0 17px 2px rgba(0, 0, 0, 0.2);
  width: 100%;
  margin-top: 10px
}

.shopping-cart-item {
  width: 30%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.cart-album-title {
  font-size: 1.1rem
}

.cart-album-desc {
  font-size: .9rem
}

.important {
  color: #ff6763
}

.total-cart-price {
  border: 1px solid black;
  width: 100%;
  margin-top: 10px;
  padding: 5px 0;
  display: flex;
  background-color: black;
  max-width: 800px;
}

.cart-price-text {
  margin-left: 5%;
  color: #ff6763;
}

.shopping-cart-btn-div {
  display: flex;
  width: 40%
}

.shopping-cart-button {
  font-size: 2rem;
  background-color: #ff6763;
  width: 20px;
  text-align: center;
}

.cart-albumImage {
  height: 100%
}

.null-message {
  text-align: center;
}

.checkout {
  margin: 10px auto;
  width: 150px;
  height: 40px;
  background-color: #ff6763;
  border-color: #ff6763;
  color: white;
  border-radius: 8px;
  font-size: 1.1rem;
}