.shopping-cart-container {
  width: 40%;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.shopping-cart-wrapper {
  display:flex;
  height: 200px;
  border: 1px solid black;
  background-color: black;
  color: white;
  margin-top: 10px;
  box-shadow: 0 0 17px 2px rgba(0, 0, 0, 0.2);

}

.shopping-cart-item {
  padding: 0 auto;
  width: 30%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.important {
  color: #ff6763
}

.total-cart-price {
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  display: flex;
  background-color: black;
  color: #ff6763
}

.shopping-cart-button {
  font-size: 1rem;
  padding: 5px 10px;
}

.cart-albumImage {
  height: 100%
}

.null-message {
  text-align: center;
}

.checkout {
  margin: 10px auto;
  width: 150px;
  height: 40px;
  background-color: #ff6763;
  border-color: #ff6763;
  color: white;
  border-radius: 8px;
  font-size: 1.1rem;
}