.editMyProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
}
.editProfileForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 400px;
}
.format {
  font-size: 10px;
  font-style: italic;
  margin-left: 10px;
}
.editSubmit {
  align-self: center;
  margin-top: 10px;
  font-size: 20px;
  height: 50px;
  width: 100px;
}

.editProfileForm > input {
  padding-left: 5px
}

@media (max-width: 600px) { 
  .editSubmit {
    height: 30px;
    width: 70px;
    font-size: 16px
  }
  
}