.signup-container{
  display: flex;
  flex-direction: column;
  width: 300px;
  margin:0 auto;
  margin-top: 15%;
  padding: 60px 0px;
  border: 1px solid black;
  text-align: center;
  background-color: black;
}

.signup-title {
  color: #ff6763;
  font-size: 3rem;
}

.signup-form {
margin-top: 10%;
}

.signup-btn {
color: white;
text-decoration: none;
padding: 10px 1px;
border-radius: 8px;
width: 50%;
background-color: #ff6763;
margin: 10% auto 0 auto;
}

.signup-su {
color: white;
margin-top: 10%;
}

.signin-link {
color: #ff6763;
text-decoration: none;
}